<launch>
  <include file="$(find jackal_helper)/launch/gazebo_launch.launch">
    <arg name="world_name" value="$(find jackal_helper)/worlds/Benchmarking/total/world_1.world" />
    <arg name="gui" value="false" />
  </include>
  <include file="$(find jackal_helper)/launch/move_base_teb.launch" />
  <include file="$(find jackal_helper)/launch/jackal_helper.launch" />
  <include file="$(find jackal_helper)/launch/teb_rviz.launch" />
<include file="$(find jackal_helper)/launch/gmapping.launch" />
</launch>
